<h1 align=center><font size=5>My Code</font></h1>
<h1 align=center><font size=3>Minzhi Meng</font></h1>

In [1]:
import numpy as np
import pandas as pd
import glob
import os
import os, zipfile
os.chdir('C:/Users/zylwiuu/Desktop/ICAPdata')
#path: C:\Users\zylwiuu\Desktop\ICAPdata

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>Unzip the folders</p>

In [2]:
dir_name = 'C:/Users/zylwiuu/Desktop/ICAPdata'
extension = '.zip'

os.chdir(dir_name) # change directory from working dir to dir with files

for item in os.listdir(dir_name): # loop through items in dir
    if item.endswith(extension): # check for ".zip" extension
        file_name = os.path.abspath(item) # get full path of files
        zip_ref = zipfile.ZipFile(file_name) # create zipfile object
        zip_ref.extractall(dir_name) # extract file to dir
        zip_ref.close() # close file
        #os.remove(file_name) # delete zipped file if you want!

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>Load the files into dataframes</p>

In [3]:
path = r'C:/Users/zylwiuu/Desktop/ICAPdata'
filenames = glob.glob(path + "/*.csv")
filenames

['C:/Users/Owner/python/ICAPdata\\20190101biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190101biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\20190201biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190201biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\20190301biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190301biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\20190401biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190401biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\20190501biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190501biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\20190501biddata_icapbids_strip.csv',
 'C:/Users/Owner/python/ICAPdata\\20190601biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190601biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\20190701biddata_icapbids_obligation.csv',
 'C:/Users/Owner/python/ICAPdata\\20190701biddata_icapbids_spot.csv',
 'C:/Users/Owner/python/ICAPdata\\clean.csv']

In [4]:
df_list = ['df' + str(item) for item in range(1, len(filenames) + 1)]
df_list

['df1',
 'df2',
 'df3',
 'df4',
 'df5',
 'df6',
 'df7',
 'df8',
 'df9',
 'df10',
 'df11',
 'df12',
 'df13',
 'df14',
 'df15',
 'df16']

In [5]:
# Load csv files into dataframes and rename them with df1, df2, df3, ..., df15
for x, y in zip(df_list, filenames):
    globals()[x] = pd.read_csv(y, skiprows=1)
# Examine whether it works
df5.head()

  Month_name  ORG_NAME  BID_PRICE  BID_CAPACITY  LOCATION_DESCRIPTION
0      March        93          5         869.7                     2
1      March        93       17.5         188.5                     7
2      March        67        0.1            17                     2
3      March        67       0.15            10                     2
4      March        67       0.25            12                     2

In [6]:
df5['Month_name'].unique()

array(['March', 'April', 'March 2019 Monthly Offers', 'Month_name'],
      dtype=object)

In [7]:
# The Month_name in df5 is not unique

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>While taking the overview of the datasets, I found 'df5', that is, csv file with the name "20190301biddata_icapbids_obligation.csv", not only contains data in March, but also data in April.  
    
    So I made some adjustments, that is, removed unnecessary title row and moved the April data in 'df5' to 'df7', that is, csv file with the name "20190401biddata_icapbids_obligation.csv".  
    Furthermore, in case that the moved data to April have originally contain in the df7, I checked whether there are duplicate rows in 'df7'.

In [8]:
df5_1 = df5.loc[(df5['Month_name'].str.contains('March')==True),:]
df5_2 = df5.loc[(df5['Month_name'].str.contains('April')==True),:]
df5_1.head()

  Month_name  ORG_NAME  BID_PRICE  BID_CAPACITY  LOCATION_DESCRIPTION
0      March        93          5         869.7                     2
1      March        93       17.5         188.5                     7
2      March        67        0.1            17                     2
3      March        67       0.15            10                     2
4      March        67       0.25            12                     2

In [9]:
df7_1 = pd.concat([df5_1, df7], sort=False)

In [10]:
df7_1[df7_1.duplicated()]

Empty DataFrame
Columns: [Month_name,  ORG_NAME,  BID_PRICE,  BID_CAPACITY,  LOCATION_DESCRIPTION]
Index: []

In [11]:
# No duplicates!

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>Create a column "AuctionType" that will take on values "Spot", "Obligation" or "Strip" depending on the name in the csv file</p>

In [12]:
import re
new = []
i = 1
for filename in filenames:
    result = re.search('icapbids_(.*).csv', filename)
    print(i,result.group(1))
    i=i+1

1 obligation
2 spot
3 obligation
4 spot
5 obligation
6 spot
7 obligation
8 spot
9 obligation
10 spot
11 strip
12 obligation
13 spot
14 obligation
15 spot

AttributeError: 'NoneType' object has no attribute 'group'

In [13]:
df1['AuctionType'] = 'Obligation'
df2['AuctionType'] = 'Spot'
df3['AuctionType'] = 'Obligation'
df4['AuctionType'] = 'Spot'
df5['AuctionType'] = 'Obligation'
df6['AuctionType'] = 'Spot'
df7['AuctionType'] = 'Obligation'
df8['AuctionType'] = 'Spot'
df9['AuctionType'] = 'Obligation'
df10['AuctionType'] = 'Spot'
df11['AuctionType'] = 'Strip'
df12['AuctionType'] = 'Obligation'
df13['AuctionType'] = 'Spot'
df14['AuctionType'] = 'Obligation'
df15['AuctionType'] = 'Spot'

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>Merge the dataframes</p>

In [14]:
pdList = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15]  # List of dataframes
new_df = pd.concat(pdList,sort=False)
print(new_df.shape)
print(new_df.columns)
new_df.head()

(17743, 8)
Index(['Month_name', ' ORG_NAME', ' BID_PRICE', ' BID_CAPACITY',
       ' LOCATION_DESCRIPTION', 'AuctionType', ' OFFER_PRICE',
       ' OFFER_CAPACITY'],
      dtype='object')

,Month_name,ORG_NAME,BID_PRICE,BID_CAPACITY,LOCATION_DESCRIPTION,AuctionType,OFFER_PRICE,OFFER_CAPACITY
0,January,93,5,849.9,2,Obligation,NaN,NaN
1,January,93,17.5,186.9,7,Obligation,NaN,NaN
2,January,67,0.05,35,2,Obligation,NaN,NaN
3,January,67,0.1,33,2,Obligation,NaN,NaN
4,January,67,0.15,29,2,Obligation,NaN,NaN

In [15]:
new_df = new_df[['Month_name', ' ORG_NAME', ' BID_PRICE', ' BID_CAPACITY',
       ' LOCATION_DESCRIPTION', ' OFFER_PRICE', ' OFFER_CAPACITY',  'AuctionType']]

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>Check for duplicates again! There are 1203 duplicate rows and I dropped them. </p>

In [16]:
new_df[new_df.duplicated()]

,Month_name,ORG_NAME,BID_PRICE,BID_CAPACITY,LOCATION_DESCRIPTION,OFFER_PRICE,OFFER_CAPACITY,AuctionType
48,January,1123,NaN,NaN,2,0.00,108.1,Spot
91,January,1029,NaN,NaN,2,0.01,11.2,Spot
163,January,1180,NaN,NaN,1,0.00,0.1,Spot
164,January,1180,NaN,NaN,1,0.00,2.0,Spot
167,January,1180,NaN,NaN,1,0.00,0.2,Spot
...,...,...,...,...,...,...,...,...
132,July,1069,NaN,NaN,1,0.00,89.5,Spot
164,July,1180,NaN,NaN,7,0.00,0.5,Spot
166,July,1180,NaN,NaN,7,0.00,0.2,Spot
174,July,1236,NaN,NaN,1,0.00,58.0,Spot
176,July,1236,NaN,NaN,1,0.00,58.0,Spot

In [17]:
new_df.shape

(17743, 8)

In [18]:
new_df = new_df.drop_duplicates()
new_df.shape

(16540, 8)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<p>Save the cleaned csv file under the path "C:\Users\zylwiuu\Desktop\ICAPdata"</p>

In [19]:
new_df.to_csv('clean.csv',index=False)